@import 'src/styles/mixins';

.layout {
  padding: 20px;
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
}

.notification {
  @include flex-horizontal-center;
  justify-content: center;

  position: absolute;
  top: 30px;
  left: -100%;

  width: 300px;
  height: 100px;

  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);

  color: #530b0b;
  font-weight: 500;

  transition: left .5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    left: -100%;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 10px;
  }
}